<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
      <add key="11" value="全票;250;"></add>
      <add key="22" value="花旗卡5折;250;DiscountClass.CitiCreditCardDiscount"></add>
      <add key="33" value="學生票8折;200;DiscountClass.StudentDiscount"></add>      
      <add key="44" value="10歲以下孩童3折;200;DiscountClass.Children10Discount"></add>
      <add key="55" value="國小孩童7折;200;DiscountClass.ElementaryDiscount"></add>
    </appSettings>
  
</configuration>